@import "fonts.less";

body {
    font-family: "Roboto", Roboto;
}

#ma-tete {
    border-width: 1px;
    border-style: solid;
    border-radius: 140px;
}

section {
    margin-top: 2em;
    margin-bottom: 16em;
    padding: 2em;
}
